@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1700px;
    padding: 0 100px;
    margin: auto;
}

.about, .home, .contact, .navbar, .experience, footer, .skills, .projects{
    font-family: 'Roboto', sans-serif;
}


/*Navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    background-color: #212687;
    font-family: 'Roboto', sans-serif;
    padding: 26px;
    transition: all 0.3s ease;
    z-index: 200;
}
.navbar.sticky{
    padding: 8px;
}
.navbar .name a{
    color: white;
    font-size: 44px;
    font-weight: 400;
}
.navbar .menu li a{
    color: white;
    font-size: 24px;
    font-weight: 300;
    margin-left: 30px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #B1306F;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



/* Menu styling*/
.menu-btn{
    color: white;
    font-size: 40px;
    cursor: pointer;
    display: none;
}
.ref{
    display: block;
}




/* Home  styling #15072F  */
.home{
    display: flex;
    background: url(Resources/compute-ea4c57a4.png) no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Roboto', sans-serif;
    background-size: cover;
}
.home .max-width{
    margin: auto 0 auto 60px;
}
.home .home-content{
    width: 60%;
}
.home .home-content .text-info{
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;
}
.home .home-content .text-info span{
    font-size: 42px;
    font-weight: 500;
    color: #B1306F;
}
.home .home-content .text-quote{
    margin-top: 10px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 300;
}
.home .home-content .text-quote span{
    font-weight: 400;
}




/*about styling*/
.about{
    font-family: 'Roboto', sans-serif;
}
section{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.title{
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 40px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}
.about .about-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .about-content .right .text-first{
    font-size: 26px;
    font-weight: 400;
}
.about .about-content .right .text-first span{
    color: #B1306F;
    font-weight: 500;
}
.about .about-content .right p{
    font-size: 22px;
    font-weight: 300;
}
.about .about-content .right button{
    font-weight: 400;
    font-size: 26px;
    display: inline-block;
    background: #B1306F;
    color:  white;
    border-radius: 6px;
    padding: 10px 30px;
    margin-top: 30px;
    border: 2px solid #B1306F;
    transition: all 0.3s ease;
    cursor: pointer;
}
.about .about-content .right button:hover{
    color: #B1306F;
    background: none;
}
.about .about-content .right{
    width: 55%;
}




/* contact styling*/
.contact{
    font-family: 'Roboto', sans-serif;
}
.contact .contact-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .left{
    text-align: justify;
}
.contact .contact-content .text{
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;
}
.contact .contact-content p{
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 10px;
}
.contact .contact-content .icons .row{
    display: flex;
    height: 60px;
    align-items: center;
    margin-top: 5px;
}
/*
.contact .contact-content .right{
    margin-top: -126px; TODO vyre3it tuto nesrovnalost u kontakt prava cast je nize nez leva
}
*/
.contact .contact-content .icons .row .info{
    margin-left: 20px;
}
.contact .contact-content .icons .row i{
    font-size: 25px;
}
.contact .contact-content .icons .info .head{
    font-weight: 500;
}
.contact .contact-content .icons .info .sub-title{
    font-weight: 400;
}
.contact .contact-content .right form .fields{
    display: flex;
}
.contact .contact-content .right form .fields{
    display: flex;
}
.contact .contact-content .right form .field,
.contact .contact-content .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}
.contact .contact-content .right form .textarea{
    height: 80px;
}
.contact .contact-content .right .name{
    padding-right: 5px;
}
.contact .contact-content .right .email{
    padding-left: 5px;
}


.contact .contact-content .right form .field input,
.contact .contact-content .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.contact .contact-content .right form .textarea textarea{
    padding-top: 10px;
    height: 160px;
    resize: none;
}
.contact .contact-content .right form button{
    height: 50px;
    width: 180px;
    margin-top: 80px;
    border: 2px solid #B1306F;
    background: #B1306F;
    color: white;
    font-size: 24px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.contact .contact-content .right form button:hover{
    color: #B1306F;
    background: none;
}




/* Experience and Education styling */

.experience{
    font-family: 'Roboto', sans-serif;
}
.experience .special-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 15%;
}
.experience .exp-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}
.experience .exp-content .column{
    width: calc(50% - 30px);
}
.experience .exp-content .exp-data{
    border-radius: 12px;
    margin-bottom: 28px;
}
.experience .exp-content .exp-data .exp-title{
    font-size: 26px;
    color: #B1306F;
}
.experience .exp-content .exp-data .exp-subtitle{
    font-size: 22px;
    font-weight: 400;
}   
.experience .exp-content .exp-data .exp-calendar{
    font-size: 22px;
    font-weight: 400;
}   
.experience .exp-content .exp-data .exp-text{
    font-size: 20px;
    font-weight: 300;
} 
.experience .exp-content .exp-data .exp-title span{
    font-size: 22px;
    font-weight: 400;
}
.experience .exp-content .title-exp,
.experience .exp-content .title-edu{
    display: none;
}





/* footer styling*/
footer{
    margin-top: 40px;
    background: #111;
    padding: 20px 24px;
    color: white;
    text-align: center;
    font-weight: 400;
}
footer span a{
    color: #B1306F;
}
footer span a:hover{
    text-decoration: underline;
}




/* Skills styling*/
.skills .skills-content .category .category-name{
    color: #B1306F;
    font-weight: 600;
    font-size: 26px;
}
.skills .skills-content .category .category-tech{
    font-size: 20px;
    font-weight: 300;
}
.skills .skills-content .category .category-tech span{
    font-weight: 400;
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 5%;
}
.skills .skills-content .category{
    margin-top: 25px;
}
.skills .skills-content .skills-text{
    font-weight: 300;
    font-size: 18px;
}



/* Projects styling */
.projects .projects-content p{
    font-weight: 300;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.projects .projects-content h3{
    font-weight: 600;
    font-size: 28px;
    color: #B1306F;
}
.projects .projects-content .project-left .column,
.projects .projects-content .project-right .column{
    width: calc(50% - 30px);
}
.projects .projects-content .project-left,
.projects .projects-content .project-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
}
.projects .projects-content img{
    width: 100%;
}
.projects .projects-content .project a{
    font-weight: 400;
    font-size: 24px;
}
.projects .projects-content .project a:hover{
    text-decoration: underline;
}





/* responsive media query start*/
@media(max-width: 1350px){
    .max-width{
        padding: 0 15px;
    }
}

@media (max-width: 1150px){
    .home .max-width{
        margin-left: 20px;
    }
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
    .contact .contact-content .right{
        padding-right: 20px;
        padding-left: 20px;
    }
    .contact .contact-content .left{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 930px){
    .max-width{
        padding: 0 5px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #212687;
        text-align: center;
        padding-top: 30px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 30px;
    }
    .about .about-content .right{
        width: 100%;
        padding: 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content{
        display: inline;
        justify-content: center;
    }
    .about .about-content .right p{
        font: 16px;
    }
    .title{
        font-size: 38px;
    }
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 30px;
    }
    .home .home-content{
        width: 90%;
    }
    .skills .skills-content .column{
        width: 100%;
        margin-bottom: 30px;
    }
    .projects .projects-content .project-left .column,
    .projects .projects-content .project-right .column{
        width: 90%;
    }
    .projects .projects-content img{
        margin-top: 30px;
    }
    .projects .projects-content h3{
        margin-top: 30px;
    }
    .projects .projects-content .project-right .left{
        order: 2;
    }
    .projects .projects-content .project-right .right{
        order: 1;
    }

}
@media (max-width: 750px){
    .experience .exp-content .title-exp,
    .experience .exp-content .title-edu{
        display: block;
    }
    .experience .special-title{
        display: none;
    }
    .experience .exp-content .column{
        width: 90%;
    }
    
}
@media (max-width: 580px){
    .navbar .name a{
        font-size: 38px;
    }
    .home .home-content .text-info{
        font-size: 32px;
        line-height: 38px;
    }
    .home .home-content .text-info span{
        font-size: 36px;
    }
    .home .home-content .text-quote{
        font-size: 16px;
    }
    .about .about-content .right p{
        font: 14px;
    }h
    .about .about-content .right{
        padding: 5px;
    }
    .contact .contact-content .right form .field,
    .contact .contact-content .right form .fields .field,  
    .contact .contact-content .right form .field input,
    .contact .contact-content .right form .textarea textarea{
        font-size: 18px;
    }
    


}


